<div class="grid w-full">

	<ng-container *ngIf="error">
		<div class="grid-col-12 border-1 border-solid border-red-700 bg-redgray px-10 py-7 rounded-sm">
			<p class="display-block m-0 text-red-800">{{ error }}</p>
		</div>
	</ng-container>

	<ng-container *ngIf="!loading.proyecto; else tmpLoading">
		<div *ngIf="proyecto" class="grid-col-12 rounded p-10 border-1 border-solid border-theme-bluegray-400 flex items-start flex-no-wrap" style="gap: 1.5rem">

			<img [src]="proyecto.directiva.avatar" nz-tooltip [nzTooltipTitle]="proyecto.directiva.nombre"
				class="w-50 h-50 display-block m-0 rounded-sm bg-theme-bluegray-200 border-0">

			<div class="w-full">
				<ng-container *ngIf="!edicion; else tmpEdicionProyecto">
					<div class="w-full flex items-center flex-no-wrap justify-between" style="gap: 1rem">
						<h4 class="font-bold display-block m-0">{{ proyecto.nombre }}</h4>

						<button nz-button nzType="text" (click)="mostrarFormProyecto()">
							<span nz-icon nzType="edit" nzTheme="outline"></span>
						</button>
					</div>

					<p class="display-block m-0 mb-7 text-gray-900">
						{{ proyecto.descripcion }}
					</p>

					<div class="w-full">
						<p class="font-medium display-inline-block m-0 mb-5">
							Fecha de inicio: <b class="m-0 font-normal display-inline-block">{{ proyecto.fechaInicio ? (proyecto.fechaInicio | date:'dd-MM-yyyy') : 'Sin fecha registrada' }}</b>
						</p>
					</div>
					<div class="w-full">
						<p class="font-medium display-inline-block m-0 mb-5">
							Fecha de fin: <b class="m-0 font-normal display-inline-block">{{ proyecto.fechaFin ? (proyecto.fechaFin | date:'dd-MM-yyyy') : 'Sin fecha registrada' }}</b>
						</p>
					</div>
					<div class="w-full">
						<p class="font-medium display-inline-block m-0 mb-5">
							Estado:
							<nz-tag [nzColor]="proyecto.estado.color">{{ proyecto.estado.descripcion }}</nz-tag>
						</p>
					</div>
				</ng-container>

				<ng-template #tmpEdicionProyecto>
					<form [formGroup]="formProyecto" class="pb-10 w-full grid" style="gap: 1.5rem">
						<div class="grid-col-12">
							<p class="font-medium display-inline-block m-0 mb-5">Nombre:</p>
							<input type="text" nz-input formControlName="nombre" class="w-full">
						</div>

						<div class="grid-col-12">
							<p class="font-medium display-inline-block m-0 mb-5">Descripción:</p>
							<textarea nz-input formControlName="descripcion" class="w-full" rows="3"></textarea>
						</div>

						<div class="grid-col-6">
							<p class="font-medium display-inline-block m-0 mb-5">Fecha inicio:</p>
							<nz-date-picker formControlName="fechaInicio" class="w-full"></nz-date-picker>
						</div>

						<div class="grid-col-6">
							<p class="font-medium display-inline-block m-0 mb-5">Fecha fin:</p>
							<nz-date-picker formControlName="fechaFin" class="w-full"></nz-date-picker>
						</div>

						<div class="grid-col-12">
							<p class="font-medium display-inline-block m-0 mb-5">Estado:</p>
							<app-select-estado-proyecto formControlName="idEstado" class="w-full" [mostrarInactivos]="true"></app-select-estado-proyecto>
						</div>

						<div class="grid-col-12">
							<p class="font-medium display-inline-block m-0 mb-5">Comentario:</p>
							<textarea nz-input formControlName="comentario" class="w-full" rows="3"></textarea>
						</div>

						<div class="grid-col-6">
							<button nz-button nzType="primary" [nzLoading]="loading.guardar" (click)="guardarCambios()" class="w-full">Guardar cambios</button>
						</div>
						<div class="grid-col-6">
							<button nz-button nzType="primary" (click)="borrarCambios()" class="w-full btn-bluegray btn-custom">Cancelar</button>
						</div>
					</form>
				</ng-template>
			</div>

		</div>
	</ng-container>

	<ng-container *ngIf="!loading.proyecto && !loading.historial; else tmpLoadingHist">
		<div class="grid-col-12">
			<ng-container *ngIf="proyecto">
				<h4 class="font-medium display-block m-0 mb-10">Historial de cambios</h4>
			</ng-container>

			<div *ngIf="historial && historial.length > 0; else tmpNoHist" class="w-full mt-15 grid">

				<ng-container *ngFor="let h of historial">
					<div class="grid-col-12 flex flex-no-wrap">
						<img [src]="h.usuario.avatar" nz-tooltip [nzTooltipTitle]="h.usuario.nombre" class="rounded-full w-35 h-35 mr-10">

						<div class="w-full">
							<div class="w-full flex items-center flex-no-wrap mb-7">
								<nz-tag [nzColor]="h.estado.color">{{ h.estado.descripcion }}</nz-tag>
								<p class="display-block m-0 text-smd text-gray-800 ml-5">
									{{ h.fecha | date:'dd-MM-yyyy hh:mm' }}
								</p>
							</div>

							<p class="display-block m-0 text-md" [innerHTML]="h.comentario | break"></p>
						</div>
					</div>
				</ng-container>

			</div>
		</div>
	</ng-container>

</div>


<ng-template #tmpLoading>
	<div class="w-full h-full grid-col-12 flex items-center justify-center" style="height: calc(100vh - 10rem);">
		<div class="w-full">
			<nz-spin nzTip="Cargando proyecto..."></nz-spin>
		</div>
	</div>
</ng-template>

<ng-template #tmpNoHist>
	<div class="w-full h-full grid-col-12 py-20 mt-20">
		<p class="display-block m-0 text-gray-800 text-md text-center" style="font-style: italic;">No hay cambios para mostrar</p>
	</div>
</ng-template>

<ng-template #tmpLoadingHist>
	<div class="w-full h-full grid-col-12 flex items-center justify-center" style="height: 200px;">
		<div class="w-full">
			<nz-spin nzTip="Cargando historial de cambios..."></nz-spin>
		</div>
	</div>
</ng-template>
