<div class="w-full grid no-gap h-full">

	<div class="grid-col-2 md:grid-col-3 sm:grid-col-12 h-full sm:h-auto border-r-1 border-solid border-theme-bluegray-300 overflow-auto p-15">
		<form [formGroup]="formFiltros" class="w-full grid gap-15 grid-6 sm:grid-12">
			<div class="grid-col-12 sm:grid-col-4 xs:grid-col-12">
				<p class="display-block m-0 mb-5">Nombre</p>
				<input formControlName="nombre" nz-input type="text" class="w-full">
			</div>

			<div class="grid-col-12 sm:grid-col-4 xs:grid-col-12">
				<p class="display-block m-0 mb-5">Fecha de inicio</p>
				<nz-date-picker formControlName="fechaInicio" class="w-full"></nz-date-picker>
			</div>

			<div class="grid-col-12 sm:grid-col-4 xs:grid-col-12">
				<p class="display-block m-0 mb-5">Fecha de fin</p>
				<nz-date-picker formControlName="fechaFin" class="w-full"></nz-date-picker>
			</div>

			<div class="grid-col-12 sm:grid-col-4 xs:grid-col-12">
				<p class="display-block m-0 mb-5">Estado</p>
				<app-select-estado-proyecto formControlName="idEstado" class="w-full"></app-select-estado-proyecto>
			</div>

			<div class="grid-col-12 sm:grid-col-4 xs:grid-col-12">
				<p class="display-block m-0 mb-5">Directiva</p>
				<app-select-directiva formControlName="idDirectiva" class="w-full"></app-select-directiva>
			</div>

			<div class="grid-col-12 sm:grid-col-4 xs:grid-col-12">
				<button (click)="obtenerProyectos()" [nzLoading]="loading" nz-button nzType="primary" class="w-full">Consultar</button>
			</div>
		</form>
	</div>

	<div class="grid-col-10 md:grid-col-9 sm:grid-col-12 p-20 pt-15 overflow-auto">
		<div class="w-full">
			<div class="w-full flex items-center flex-no-wrap justify-between mb-10">
				<h2 class="font-bold text-theme-primary display-block m-0">Proyectos</h2>

				<div class="flex items-center flex-no-wrap" style="gap: 1.5rem">
					<button nz-button [nzLoading]="loading" (click)="obtenerProyectos()">
						<span nz-icon nzType="reload" nzTheme="outline"></span>
					</button>

					<button (click)="abrirDrawerNuevoProyecto()" nz-button nzType="primary" class="btn-black">
						<span nz-icon nzType="plus" nzTheme="outline"></span>
						Nuevo Proyecto
					</button>
				</div>
			</div>

			<nz-table #nzTable nzSize="small" [nzData]="proyectos" [nzPageSize]="100" [nzLoading]="loading">
				<thead>
					<tr>
						<th nz-tooltip nzTooltipTitle="Directiva" style="text-align: center;">Dirct</th>
						<th>Nombre</th>
						<th>Creador por</th>
						<th style="text-align: center;">Estado</th>
						<th>Fecha inicio</th>
						<th>Fecha fin</th>
						<th>Ult. Actualización</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let p of nzTable.data">
						<td class="text-center min-width">
							<img nz-tooltip [nzTooltipTitle]="p.directiva.nombre" [src]="p.directiva.avatar" class="display-block m-0 mx-auto rounded-sm w-30 h-30">
						</td>
						<td nz-tooltip [nzTooltipTitle]="p.nombre.length > 40 ? p.nombre : ''">
							{{ p.nombre | slice:0:40 }}
							<ng-container *ngIf="p.nombre.length > 40">...</ng-container>
						</td>
						<td>
							<div class="flex items-center flex-no-wrap">
								<img [src]="p.usuario.avatar" class="display-block m-0 mr-7 rounded-full w-30 h-30">
								<p class="display-block m-0">{{ p.usuario.nombre | titlecase }}</p>
							</div>
						</td>
						<td class="min-width">
							<nz-tag class="m-0" [nzColor]="p.estado.color">{{ p.estado.descripcion | uppercase }}</nz-tag>
						</td>
						<td>{{ p.fechaInicio ? (p.fechaInicio | date:'dd-MM-yyyy') : '-' }}</td>
						<td>{{ p.fechaFin ? (p.fechaFin | date:'dd-MM-yyyy') : '-' }}</td>
						<td>{{ p.fechaUltAct | date:'dd-MM-yyyy hh:mm' }}</td>
						<td class="min-size">
							<button (click)="abrirDrawerProyecto(p.id)" nz-button nz-tooltip nzTooltipTitle="Más información" nzType="text" nzSize="small">
								<span nz-icon nzType="eye" nzTheme="outline"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</nz-table>
		</div>
	</div>

</div>
