<div class="w-full p-20 pt-15">

	<div class="w-full flex items-center flex-no-wrap justify-between mb-10">
		<h2 class="font-bold text-theme-primary display-block m-0">Cuentas bancarias</h2>

		<div class="flex items-center flex-no-wrap" style="gap: 1.5rem">
			<button nz-button [nzLoading]="loading" (click)="obtenerCuentas()">
				<span nz-icon nzType="reload" nzTheme="outline"></span>
			</button>

			<button (click)="abrirDrawerNuevaCuenta()" nz-button nzType="primary" class="btn-black">
				<span nz-icon nzType="plus" nzTheme="outline"></span>
				Nueva Cuenta
			</button>
		</div>
	</div>

	<nz-table #nzTable nzSize="small" [nzData]="cuentas" [nzPageSize]="15" [nzLoading]="loading">
		<thead>
			<tr>
				<th>Institución</th>
				<th>Alias</th>
				<th>Nro. Cuenta</th>
				<th>CI. Asociado</th>
				<th>Tipo</th>
				<th>Saldo</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let c of nzTable.data">
				<td>{{ c.institucion.nombre | titlecase }}</td>
				<td>{{ c.alias }}</td>
				<td>{{ c.numero_cuenta }}</td>
				<td>{{ c.id_propietario }}</td>
				<td>{{ c.tipo_cuenta == 1 ? 'Ahorros' : 'Corriente' }}</td>
				<td>{{ c.saldo | currency }}</td>
			</tr>
		</tbody>
	</nz-table>

</div>
