<form [formGroup]="form" class="grid w-full">

	<div class="grid-col-12">
		<h3 class="font-bold display-block m-0">Nuevo proyecto</h3>
	</div>

	<div *ngIf="error" class="grid-col-12 border-1 border-solid border-red-700 rounded-sm bg-redgray px-10 py-7">
		<p class="display-block m-0 text-red-800">{{ error }}</p>
	</div>

	<div class="grid-col-12">
		<p class="display-block m-0 mb-5">Nombre</p>
		<input type="text" formControlName="nombre" nz-input placeholder="Ej. Cuenta de José" />
	</div>

	<div class="grid-col-12">
		<p class="display-block m-0 mb-5">Descripción</p>
		<textarea nz-input formControlName="descripcion" class="w-full" rows="7"></textarea>
	</div>

	<div class="grid-col-6">
		<p class="display-block m-0 mb-5">Fecha inicio</p>
		<nz-date-picker class="w-full" formControlName="fechaInicio" nzAllowClear></nz-date-picker>
	</div>

	<div class="grid-col-6">
		<p class="display-block m-0 mb-5">Fecha fin</p>
		<nz-date-picker class="w-full" formControlName="fechaFin" nzAllowClear></nz-date-picker>
	</div>

	<div class="grid-col-12 border-t-1 border-solid border-theme-bluegray-400"></div>

	<div class="grid-col-6">
		<button type="button" [nzLoading]="loading.guardar" (click)="crearProyecto()" nz-button class="w-full" nzType="primary">Guardar proyecto</button>
	</div>

	<div class="grid-col-6">
		<button nz-button [disabled]="loading.guardar" class="w-full btn-bluegray btn-custom" nzType="primary">Cancelar</button>
	</div>

</form>
