<div class="w-full grid no-gap h-full">

	<div class="grid-col-2 md:grid-col-3 sm:grid-col-12 h-full sm:h-auto border-r-1 border-solid border-theme-bluegray-300 overflow-auto p-15">
		<div class="w-full grid gap-15 grid-6 sm:grid-12">
			<div class="grid-col-12 sm:grid-col-4 xs:grid-col-12">
				<p class="display-block m-0 mb-5">Nombre</p>
				<input nz-input type="text" class="w-full">
			</div>

			<div class="grid-col-12 sm:grid-col-4 xs:grid-col-12">
				<p class="display-block m-0 mb-5">Fecha de inicio</p>
				<nz-date-picker class="w-full"></nz-date-picker>
			</div>

			<div class="grid-col-12 sm:grid-col-4 xs:grid-col-12">
				<p class="display-block m-0 mb-5">Fecha de fin</p>
				<nz-date-picker class="w-full"></nz-date-picker>
			</div>

			<div class="grid-col-12 sm:grid-col-4 xs:grid-col-12">
				<button nz-button nzType="primary" class="w-full">Consultar</button>
			</div>
		</div>
	</div>

	<div class="grid-col-10 md:grid-col-9 sm:grid-col-12 p-20 pt-15 overflow-auto">
		<div class="w-full">
			<div class="w-full flex items-center flex-no-wrap justify-between mb-10">
				<h2 class="font-bold text-theme-primary display-block m-0">Listado movimientos</h2>

				<div>
					<button nz-button nzType="primary" class="btn-black" (click)="abrirDrawerNuevoMovimiento()">
						<span nz-icon nzType="plus" nzTheme="outline"></span>
						Transacción
					</button>
				</div>
			</div>

			<ng-container *ngIf="error">
				<div class="w-full mt-7 mb-15 rounded-sm border-solid border-1 border-red-800 bg-redgray px-10 py-7">
					<p class="display-block m-0 text-red-800">{{ error }}</p>
				</div>
			</ng-container>

			<nz-table #nzTable nzSize="small" [nzData]="movimientos" [nzLoading]="loading" [nzPageSize]="100">
				<thead>
					<tr>
						<!-- <th style="text-align: center;">ID</th> -->
						<th>Fecha</th>
						<th>Movimiento</th>
						<th>Realizado por</th>
						<th>Cuenta</th>
						<th>Monto</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let m of nzTable.data">
						<!-- <td class="text-center font-medium min-size px-5">1234</td> -->
						<td class="min-size">{{ m.fecha | date:'dd-MM-yyyy hh:mm' }}</td>
						<td>{{ m.motivo }}</td>
						<td>
							<div class="flex items-center flex-no-wrap">
								<img [src]="m.usuario.avatar" class="display-block m-0 mr-7 rounded-full w-30 h-30">
								<p class="display-block m-0">{{ m.usuario.nombre }}</p>
							</div>
						</td>
						<td>{{ m.cuenta.alias }}</td>
						<td [ngClass]="{'text-green': m.monto >= 0, 'text-red': m.monto < 0}">{{ m.monto | currency }}</td>
						<td class="min-size">
							<button nz-tooltip nzTooltipTitle="Copiar ID" nz-button nzType="text" nzSize="small">
								<span nz-icon nzType="copy" nzTheme="outline"></span>
							</button>
							<button nz-tooltip nzTooltipTitle="Ver factura" nz-button nzType="text" nzSize="small">
								<span nz-icon nzType="file-text" nzTheme="outline"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</nz-table>
		</div>
	</div>

</div>
